.navbar.navbar-expand-lg.bg-body-tertiary, .dropdown-menu{
    background-color: #212529 !important;
}

.navbar-brand, .nav-link, .navbar-toggler, .dropdown-item{
    color: #e8e8e3 !important;
}

.dropdown-item:hover{
    background-color: #3a3b49 !important;
}